 .c_places .amenities h2, .c_places .reviews h2
{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.c_places .reviews li
{
    list-style-type: none;
}

.c_places .reviews h3
{
    margin: 0;
    font-size: 14px;
}

.c_places .reviews ul
{
    padding: 0;
}

.c_places .reviews p
{
    font-size: 12px;
}
